.c-btn {
    width: 307px;
    
    background-color: $brandColor;
    border-radius: 36px;
    text-align: center;
    
    margin: 0 auto;
    
    a {
        padding: 28px 0;
    }
}

.c-btn--left {
    margin: 0;
}