
.c-card {
    background-color: $white;

    &__body {

        img {
            display: block;
            width: 100%;
        }
    }

    &__circle {
        width: 88px;
        height: 88px;
        border-radius: 88px;
        background-color: $brandColor;

        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0 auto;
    }

    &__text {

        h3 {
            font-size: 50px;
            font-weight: 300;
        }

        h4 {
            font-size: 18px;
            line-height: 22px;
            margin-top: 25px;
        }

        p {
            font-family: $poppins;
            font-size: 16px;
            font-weight: 300;
            line-height: 25px;
            margin: 25px 0 50px;
        }
    }

    &__text--px100 {
        padding: 0 100px;
    }
}

.c-card--center {
    text-align: center;
    padding: 60px;
}