.c-title {
    width: 771px;
    text-align: center;
    margin: 0 auto 60px;
    
    h1 {
        font-size: 35px;
        margin-bottom: 22px;
        font-weight: 500;
    }

    p {
        line-height: 25px;
    }
}